
:root{
    --color-grey:#aaaaaa;
}


label{
    cursor:pointer;
}

input[type='checkbox']{
    cursor:pointer;
}

/*  */

body{
    font-family: sans-serif;
    width: 100%;
    position: absolute;
    max-width: 400rem;
    margin-right: 10%;
    margin-left: 10%;

}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;

}
header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;

}
footer{

text-align: center;
background-color: #faf9f9;
height: 5rem;
margin: 1rem;
padding: 1remm;

}
#search-bar{
height: 1rem;
width: 7rem;
text-align: end;
border: none;
margin-top: 5%;
}
#subscribe-link{
    height: 1rem;
    width: 7rem;
    margin-top: 5%;
    color: var(--color-grey);
}
#blog-header{
    text-decoration: underline;
}

article{
    border: .6rem solid #eeeeee;
    /* border-radius: 1rem; */
    box-shadow: .3rem .3rem .4rem #eeeeee;
    margin: 1rem;
    padding: 2rem;
    max-width: 60rem;
}
.date{
    color: var(--color-grey);
    margin-top: .1rem;
    margin-bottom: 0;

}
footer p {
    padding-top: 1rem;
    color: var(--color-grey);
}
.blog-card-title{
    margin-top: .4rem;
    margin-bottom: 0;
}
.blog-card-text{
    margin-top: .4rem;
    margin-bottom: 3rem;
}
.world{
    color:#4292ff
}
.design{
    color:#58b86c;
}